{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href={{ url_for('static', filename='css/styles_upload.css') }}>
    <title>Upload data</title>
{% endblock %}

{% block body %}
    <section class="main-section">
        <div class="text">
            <h2 class="main-title">Upload the imaging files</h2>
            <p class="instructions">Upload your imaging files to submit them for prediction and analysis</p>
        </div>
        <div class="file-uploader">
            <div class="uploader-header">
                <h2 class="uploader-title">Files</h2>
                <h4 class="file-completed-status"></h4>
            </div>
            <div class="file-uploader-body">
                <div class="file-upload-box">
                    <h2 class="box-title">
                        <span class="file-instruction">Drag files here or</span>
                        <span class="file-browse-button">browse</span>
                    </h2>
                    <h2 class="box-title">NIfTI (.nii), DICOM (.dcm)</h2>
                </div>
                <ul class="file-list"></ul>
                <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
                    <input name="file-browse-input" class="file-browse-input" type="file" accept=".nii, .dcm" multiple hidden>
                    <div class="input-group">
                        <label for="subject_id">Subject ID/Name/Username</label>
                        <input type="text" id="subject_id" name="subject_id" defaultValue=None>
                        <label for="image_id">Image ID</label>
                        <input type="text" id="image_id" name="image_id" defaultValue=None>
                    </div>
                    <button type="button" class="main-btn" disabled>Submit</button>
                    <div class="predict-progress-bar" style="display: none;">
                        <p class="predict-progress-text">
                            <span class="predict-progress-status">Analyzing...</span>
                            <span class="predict-progress-pct">0%</span>
                        </p>
                        <div class="predict-progress"></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    
    <script>
        processing_service_url = {{ processing_url|tojson }}
    </script>
    <script src={{ url_for('static', filename='js/script.js') }}></script>
    {% endblock %}
