<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="../static/css/styles_upload.css">
    <title>Alzheimer’s Disease</title>
</head>

<body>
    
    <section class="upload-section">
        <div class="upload-container">
            <h2>Upload Your File</h2>
            <form id="upload-form" action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
                <div class="input-group1">
                    <label for="file">Choose a file:</label>
                    <!-- TODO allow image files as well, both here and in the processing service -->
                    <input class="input1" type="file" id="file" name="file" accept=".dcm,.nii,.nii.gz" required onchange="previewImage(event)" multiple>
                <div class="input-group">
                    <label for="username">Subject ID or Name or Username:</label>
                    <input type="text" id="subject_id" name="subject_id">
                    <label for="username">Image ID:</label>
                    <input type="text" id="image_id" name="image_id">
                </div>
                <div class="image-preview" id="image-preview">
                    <img id="preview" src="" alt="Image Preview" style="display: none;">
                    <button type="button" id="remove-btn" style="display: none;" onclick="removeImage()">Remove Image</button>
                </div>
                <button type="submit" class="main-btn" onclick="window.location.href='{{ url_for('upload') }}'">Submit</button>
            </form>
        </div>
    </section>
    <footer>
        <button class="footer-btn" onclick="window.location.href='{{ url_for('upload') }}'">Go to Results</button>
    </footer>

    <script src="{{ url_for('static', filename='static/js/script.js') }}"></script>
</body>
</html>
