@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    /* margin: 24px; */
    /* gap: 30px; */
}

.top-row-container {
    height: 500px;
    display: flex;
    gap: 16px;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.primary-box {
    padding: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #f6f8fb;
    border: 2px solid #d9d9d9;
    border-radius: 8px;
    /* max-width: 20%; */
}

.container-title {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 16px;
    color: #3a6cf4;
}

.container-sub-title {
    font-size: 1.1em;
    line-height: 1.5em;
    margin-bottom: 16px;
    
}
#subject_id, #image_id{
    font-weight: bold;
}

#scan-preds {
    width: 20%;
    /* min-width: 20%; */
    /* min-width: 20%; */
    /* margin: 16px; */
    height: 100%;
    max-width: 80%;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}

#scan-preds .body-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    text-align: left;
    gap: 8px;
}

#scan-preds .pred-card {
    font-size: larger;
    padding: 16px;
    height: 100%;
    font-weight: 700;
    display: block;
    align-content: start;
    /* width: 30%; */
    border: 1px solid #14294b;
    border-radius: 8px;
    background-color: hsl(215, 85%, calc(var(--alpha)*(23% - 96%) + 96%)); /* range shift from 0-1 (pred) to 96 - 23 (L) */
}

.pred-card .pred-label {
    font-size: 40px;
    color: #14294b;
    color: hsl(215, 85%, calc(var(--alpha) * (96% - 23%) + 23%)); /* Text color contrasted with background */
}

.pred-card .pred-value {
    padding-left: 2px;
    font-size: 1.1em;
    font-weight: 600;
    color: #14294b;
    color: hsl(215, 85%, calc(var(--alpha) * (96% - 23%) + 23%)); /* Text color contrasted with background */
}

#slice-preds {
    max-width: 80%;
    padding-bottom: 12px;
}

.heatmap-container {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    /* white-space: nowrap; */
    /* margin-top: 20px; */
}

.heatmap-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-radius: 16px;
}

th, td {
    border: 4px solid #fff;
    padding: 8px;
    text-align: center;
    border-radius: 12px;
}

th {
    height: 64px;
    background-color: #f4f4f4;
    font-weight: bold;
}

.heatmap-table td {
    width: 40px;
    height: 100px;
    font-weight: bold;
    font-size: small;
    writing-mode: vertical-rl;
    /* Color classes with better contrast */
    background-color: hsl(215, 85%, calc(var(--alpha)*(23% - 96%) + 96%)); /* range shift from 0-1 (pred) to 96 - 23 (L) */
    color: hsl(215, 85%, calc(var(--alpha) * (96% - 23%) + 23%)); /* Text color contrasted with background */
}

#gradcam-container {
    width: 100%;
    height: 500px;
}

#coming-soon {
    font-size: 2.4em;
    font-weight: 200;
    text-align: center;
}